
@import '~font-awesome/css/font-awesome.min.css';

.Header {
    position: fixed;
    z-index: 99;
    top: 0;
    max-height: 70px;
    padding: 1.2rem;
    width: 100%;
    display: grid;
    grid-template-areas: "logo nav";
    background-color:	#FFFCEC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .Nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
    width: 100%;
    background-color:	#FFFCEC;   
    /* 顯示一下 */
  }

  .Nav a {
    color: 		#2F0000;
    font-size: 1.2rem;
    font-weight: 300;
    transition: 0.5s;
    text-decoration: none;
  }
  .Nav a:hover {
    color: #fbfe34;
    cursor: pointer;
  }
  .Nav button {
    height: 10px;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-self: space-between; 

    background-color: rgba(255, 0, 0, 0.5);
    cursor: pointer; 
  }
    /* padding: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0px 5px 0px 0px rgba(255, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: 70ms; */
    
  /* } */
  
  .Nav button:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.25);
  }
  .Burger:focus{
      outline: none;
  }
  
  .Burger {
    position: fixed;
    display: none;
    grid-area: Burger;
    margin: 0 20px 0 0;
    padding: 0;
    justify-self: end;
    font-size: 40px;
    border: none;
    background: none;
    outline: none;
    
    text-decoration: none;
    transition: 0.1s;

  }

  .Burger:active {
    transform: scale(1.2);
}

  .logo-pos {
    position: absolute;
    left: 20px;
    top: 10px; 
}

 


  
  @media (max-width: 700px) {
    .Header {
      grid-template-areas: "logo burger" "nav nav";
      height: 70px;
    }
    .Nav {
      grid-template-rows: repeat(4, auto);
      grid-template-columns: none;
      grid-row-gap: 20px;
  
      padding: 30px 0 30px;
      background: #fecc34f2;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .Nav a:hover {
        color: #282c34;
      }
    .Burger {
      display: inline;
    }

  .logo-pos {
      position: relative; 
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto; 
      transform: translateX(0); /* 取消水平位移 */
      text-align: center; /* 當作文字水平置中 */
      }
    }

 
  
    
    

    
  

/* Headers.css */

/*首頁大圖縮放*/

.image-change {
  max-width: 100%;
  max-height: 65vw; 
  width: auto; 
  height: auto; 
}

/* 首頁的部分跟大圖配合 */
.start-change{
  max-width: 100%;
  max-height: 65vw; 
  width: auto; 
  height: auto; 


} 


  
  
  .NavAnimation-enter {
    opacity: 0;
    transform: scale(0.5);
  }
  .NavAnimation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 350ms, transform 350ms;
  }
  .NavAnimation-exit {
    opacity: 1;
  }
  .NavAnimation-exit-active {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 350ms, transform 350ms;
  }
  
