
.Otherheader {
    position: fixed;
    z-index: 99;
    top: 0;
    max-height: 70px;
    padding: 1.2rem;
    width: 100vw;
    display: grid;
    grid-template-areas: "logo nav";
    /* background-color: #1e1e1e; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .OtherNav {
    display: grid;
    grid-area: nav;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-items: center;
  }

  .Nav a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    transition: 0.5s;
    text-decoration: none;
  }
  .Nav a:hover {
    color: #fbfe34;
    cursor: pointer;
  }