:root {
  /* --primary-color: #146745; */
  --bg-color: #FFFFF4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:	#FFE153;

}
body {
  background-color: var(--bg-color);
}
li {
  list-style: none;
}


a,
u {
  text-decoration: none !important;
}

section {
  margin-top: 1.2em;
}

section h2 {
  text-align: center !important;
}
h2 {
  color: #2F0000;
}







/* Navbar Start */

#openMenu{
  display: none;
  float: right;
  top: -0.8rem;
  position: relative;
  margin-right: 0.8rem;
  font-size: 1.8rem;
  z-index: 1; 
}

.header{
  display: grid;
  /* grid-template-areas: "logo nav"; */
  
}

#navbar{
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-items: center;
}

.burger{
  display: none;
}



/* Navbar End */







/* Scroll to Top */

.scroll-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 99;
  outline: none;
  background-color: #27ae60;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  text-decoration: none;
}


/* End Scroll to Top */


